.footer{
    /* margin-top: 5px; */
    /* padding: px; */
    text-align: center;
    background-color: #a5a20b;
    color: black;
    font-weight: bold;
    font-size: 3rem;
}

@media(max-width:768px){
    .footer{
        padding: 1rem;
        font-size: 0.075rem;
    }
}

@media(min-width:768px){
    .footer{
        margin-top: 1rem;
        padding: 1.5rem;
        font-size: 1.125rem;
    }
}